/*----------------------------------------------------*/
.accomodation_item {
    margin-bottom: 30px;
  }
  
  .accomodation_item .hotel_img {
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .accomodation_item .hotel_img img {
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    width: 100%;
    height: 100%;
  }
  
  .accomodation_item .hotel_img .theme_btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    padding: 5px 25px;
    max-width: 128px;
  }
  
  .accomodation_item .hotel_img:hover img {
    -webkit-transform: scale(1.19);
    -ms-transform: scale(1.19);
    transform: scale(1.19);
  }
  
  .accomodation_item h5 {
    font-size: 24px;
    line-height: 28px;
    color: #52c5fd;
    font-weight: 600;
    margin-bottom: 0px;
  }
  
  .accomodation_item h5 small {
    font-weight: 300;
    font-size: 14px;
  }
  
  .sec_h4 {
    font-size: 18px;
    line-height: 38px;
    font-weight: 600;
    color: #222222;
    margin-bottom: 0px;
  }
  
  .accomodation_two {
    margin-bottom: -40px;
  }
  
  .accomodation_two .accomodation_item {
    margin-bottom: 45px;
  }
  /* ///////////////////////////////////////// */
  /* .wrapper{
    max-height: 120px;
    border: 1px solid #363535;
    display: flex; */
    /* overflow-y: auto; */
    

/* } */
/* .wrapper .item{
 width: 300px;
 height: 100px;
 line-height: 110px;
 text-align: center; */
 /* background-color: #ddd; */
 /* margin-right: 2px;
 background-color: #c4c0c0;
 color: #222222;
 font-weight: 400;
 font-size: xx-large;

}   */
  
/* ///////////////////////////////// */


.carousel-item {
  height: 100vh;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  background-color: black;
}