
.all {
  max-height: 100px;
  border: 1px solid #7d7b7b;
  display: flex;
  margin-bottom: -100px;
}

.wrapper {
  display: flex;
  margin-top: 6px;
}

#icon{
  color: red;
}
.item {
  width: 225px;
  height: 100px;
  line-height: 110px;
  text-align: center;
  background-color:white;
  box-shadow: 0px 2px 10px rgb(182, 181,181);
  color: #222222;
  /* font-weight: 400; */
  font-size: xx-large;
  cursor: pointer;
}

.item.active {
  background-color: #574543;
}
/* .item:hover{
  background-color: #574543;
} */

.card {
  padding: 10px;
  margin-bottom: 10px;
  /* border: 1px solid #ddd; */
  border-radius: 4px;
  cursor: pointer;
  
}
.fa-solid, .fas{
  color: #82795B;
  /* cursor: pointer; */
}
.fa-solid:hover{
  color: white;
}
.fas:hover{
  color: white;
}
