.accomodation_item {
    margin-bottom: 30px;
  }
  
  .accomodation_item .hotel_img {
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .accomodation_item .hotel_img img {
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
  }
  
  .accomodation_item .hotel_img .theme_btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    padding: 5px 25px;
    max-width: 128px;
  }
  
  .accomodation_item .hotel_img:hover img {
    -webkit-transform: scale(1.19);
    -ms-transform: scale(1.19);
    transform: scale(1.19);
  }
  
  .accomodation_item h5 {
    font-size: 24px;
    line-height: 28px;
    color: #52c5fd;
    font-weight: 600;
    margin-bottom: 0px;
  }
  
  .accomodation_item h5 small {
    font-weight: 300;
    font-size: 14px;
  }
  
  .sec_h4 {
    font-size: 18px;
    line-height: 38px;
    font-weight: 600;
    color: #222222;
    margin-bottom: 0px;
  }
  
  .accomodation_two {
    margin-bottom: -40px;
  }
  
  .accomodation_two .accomodation_item {
    margin-bottom: 45px;
  }



  /* ///////////////////////////////////////// */

  
/* .main-container {
  padding: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 500px;
  display: grid;
  min-height: 200px;
  border-radius: 10px;
  transition: all 0.2s;
  grid-template-rows: 20px 50px 1fr 50px;
  box-shadow: 0px 6px 10px rgba(74, 70, 74, 0.414);
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}

.readMore,
.close,
.card div {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.card div ul {
  display: flex;
  list-style: none;
}

.card div ul li {
  margin: 0 0.3rem;
  font-size: 1.1rem;
}

.desc {
  color: rgb(66, 59, 59);
}

.readMore::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  width: 0%;
  height: 3px;
  transition: all 0.5s;
  background-color: rgba(255, 255, 255, 0.6);
}

.readMore:hover {
  color: #fff;
}

.readMore:hover::after {
  width: 100%;
}

.close {
  grid-row: 1/2;
  justify-self: end;
}

.card div {
  grid-row: 2/3;
  font-size: 30px;
}

.read-more {
  grid-row: 4/5;
  align-self: center;
}

.card1 {
  background: #3fbafe;
}

.card2 {
  background:#f7a976;
}

.card3 {
  background:#b69efe;
}

.card4 {
  background: #60efbc;
}

.card5 {
  background: #f588d8;
}


@media (max-width: 1600px) {
  .cards {
      justify-content: center;
  }
} */